@import './breakpoints';
@import './spacings';
@import './variables';

:root {
  font-size: 62.5%
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: $large-screen;
  margin: 0 auto;
}