@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Marmelad&display=swap');
@import './breakpoints';
@import './spacings';
@import './variables';

:root {
  font-size: 62.5%
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: $large-screen;
  margin: 0 auto;
}

.full-width {
  width: 100%;
  position: relative;
}
